*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}



.container{
    background-image: url(/870316-video-game-backgrounds-1920x1080-for-xiaomi.jpg);   
    object-fit: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52.9em;
   /* filter: brightness(0.); */

} 

h1 ,h2, p{
    color: rgb(22, 22, 113);
    font-weight: bolder;
    text-shadow: 2px 2px 10px white ; 
}
p{
    word-spacing: 3px;
}

/* p {
    font-size: 1rem;
    color:rgb(49, 4, 172);
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 5px 5px 10px black ;
     
    /* background-color: #11000019;  */
 */

canvas{
position: absolute;
z-index: -1;
top: 0;
}
.main{
    background-image:linear-gradient(rgb(124, 124, 166), rgba(17, 198, 243, 0.157)), url(/Abstract-Brain.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 1;
    /* margin-right:15em ; */
    padding: 10px;
    margin-top: 2remz;
    text-align: center;
    background-color: rgb(0, 174, 255);
    width: 50%;
    border-radius: 15px ;
    box-shadow: 3px 2px 20px wheat;
    height: 35rem;
}
.main img {
    width: 100%;
    
}

.main input{
    font-size: 1rem;
    text-wrap: wrap;
    width: 20%;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px black;
}

.main .button{
    width:23% ;
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    border: 2px solid white;
   margin-top: 10px;
   box-shadow:inset 1px 1px 10px black;
    border: none;
}

.main .button:hover{
    
    cursor: pointer;
    color: black;
    background-color: orange;
    transition: 0.5s ease-in-out ;
    box-shadow:2px 3px 5px grey;

}

.submain{ 
    margin: 4rem;
}